.elements {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-gap: 8px;
  grid-template-rows: auto;
}

@media screen and (max-width: 656px) {
  .elements {
    flex-direction: column;
    align-items: center;
  }
}
