.element__description {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: -5px;
  padding: 14px 0 10px 0; */
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  max-width: 282px;
}
