.modal__close-button {
  align-self: flex-end;
  margin-top: -36px;
  margin-right: -36px;
  background: url(../../../images/closeIcon.svg) no-repeat center;
  border: none;
  display: block;
  min-width: 40px;
  min-height: 40px;
  cursor: pointer;
}

.modal__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 656px) {
  .modal__close-button {
    margin-top: -18px;
    margin-right: -18px;
    min-width: 20px;
    min-height: 20px;
  }
}
