.profile__picture-edit {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 0;
  margin-right: 30px;
  background-color: black;
  cursor: pointer;
  border: none;
  position: relative;
}

.profile__picture-edit::after {
  content: '';
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
  padding: 0;
  background-color: black;
  background-image: url(../../../images/profileedit.svg);
  cursor: pointer;
  border: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.profile__picture-edit:hover::after {
  opacity: 0.6;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 925px) {
  .profile__picture {
    margin-right: 15px;
  }
}

@media screen and (max-width: 656px) {
  .profile__picture {
    margin-right: 0;
  }
}
