.profile__edit {
  cursor: pointer;
  padding: 0;
  margin: 0;
  height: 24px;
  width: 24px;
  background: url(../../../images/edit.png) no-repeat center;
  border: 1px solid white;
}

.profile__edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 795px) {
  .profile__edit {
    height: 18px;
    width: 18px;
  }
}
