.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  margin: 0 24px 0 0;
}

@media screen and (max-width: 925px) {
  .profile__name {
    margin: 0 12px 0 0;
  }
}

@media screen and (max-width: 795px) {
  .profile__name {
    font-size: 22px;
  }
}
